@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/*comentario*/
/*propiedad:valor*/
/*1 rem es ugual 16 px*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.body{
    font-family: sans-serif;
    text-transform: capitalize;
}
h1{
    color: black;
    font-family: fantasy;
    text-align: center;
    font-size: 4rem;
    text-shadow: 1px 8px 4px rgba(121,233,75,1);
}
h2{
    font-family: serif;
    text-align: center;
    font-size: 3rem;
    text-shadow: 1px 8px 4px rgba(121,233,75,1);
}
h3{
    font-family: fantasy;
    text-align: center;
    font-size: 2rem;
    text-shadow: 1px 8px 4px rgba(121,233,75,1);
}

p{
    color: black;
    font-size: 1rem;
    text-align: center;
    // text-shadow: 1px 4px 4px rgba(121,233,75,1);
    text-align: center;
}
.texto-verde{
    // color: white;
    font-size: 3rem;
    
    
    
    
    
}
.texto-rojo{
    color: red;
}



/*header*/
header{
    background-color: rgb(18, 18, 240);
    
    position: sticky;
    top: 0px;
    padding: 10px;
    z-index: 99;

     @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
     }

    img {
        width: 80px;
        margin: 5px;
        border-radius: 10px;
        border: solid;
    }

    ul{
        padding-left: 0;
        height: 100%;
        list-style: none;
        display: flex;

        justify-content: space-between;
        align-items: center;

    }
}
nav{
    @media (min-width: 768px) {
        width: 60%;
    }

    a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;

        @media (min-width: 768px) {
            font-size: 24px;
        }

        &:hover {
            opacity: 0.85;
        }
    }
}

.logo-caja {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.icono-bolsa {
    margin-top: 32px;
    margin-right: 40px;
    color: white;
    opacity: 0.9;

    &:hover {
        opacity: 1;
    }

    i {
        font-size: 30px;
    }

    &-mobile {
        margin-left: auto;
        @media(min-width: 768px) {
            display: none;
        }
    }

    &-pc {
        @media(max-width: 767px) {
            display: none;
        }
    }
}




/*main cuerpo de la pagina*/

.banner{
    // background-image: url(../medios/banner.webp);
    // background-size: contain;
    // padding: 150px 0;
    
    // justify-content: center;
    text-align: center;

     @media (min-width: 768px) {
        height: 85vh;
        display: flex;
    }

    img {
        width: 100%;
        object-fit: cover;
        object-position: right;

        @media (min-width: 768px) {
            width: 65%;
        }
    }

    &-texto {
        
        // height: 100%;
        // background: rgba(0, 0, 0, 0.95);
        background-color: #9DE215;
        padding: 20px;

        @media (min-width: 768px) {
            width: 35%;

            h1 {
                margin-top: 30%;
            }
        }

        h1 {
            font-size: 60px;
        }

        p {
            font-size: 20px;
        }
    }

    &-boton {
        padding: 16px 32px;
        background-color: #0000FF;
        color: white;
        border: none;
        font-size: 24px;
        font-family: fantasy;
    }

} 
.promo{
    
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.adidas-promo2{
    width: 120%;
    border-radius: 20px;
}
   

/*presentacion iconos*/
.iconos{
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
}

.icono{
    &-tennis {
        width: 50%;;
    }

    &-runnig {
        width: 50%;
    }

    &-futbol {
        width: 50%;
    }
}

.contenedor-grid img{
    width: 50%;
    height: 80%;
}
.contenedor-grid{
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo"
    "foto1 foto1 texto1"
    "texto2 texto2 foto2" 
    "foto3 foto3 texto3";
    

/*cantidad y el ancho de cada columna, 1 valor a cada columna*/
grid-template-columns:45% 10% 40% ;


/*cantidad y alto de cada fila, 1 valor a cada fila*/
    grid-template-rows:50px 400px 400px 400px;
    /*centrar griya como cja cerrada*/
    justify-content:center;

    /*eje horizontal*/
    justify-items: center;
    /*eje vertical*/
    align-items: center;

}
.grid-titulo{
    grid-row: 1/2;
    grid-column: 1/4;
    
    
}
.grid-texto-1{
    grid-row:2/3; 
    grid-column:3/4;
    font-size: 1rem;
    
}
.grid-img-1{
    grid-row: 2/3;
    grid-column: 1/3;

    
}
.grid-texto-2{
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 1rem;
}
.grid-img-2{
    grid-row: -3/-2;
    grid-column: 2/4;
    
}
.grid-texto-3{
    grid-row: 4/-2;
    grid-column: 3/-2;
    font-size: 1rem;
}
.grid-img-3{
    grid-row: 4/5;
    grid-column: 1/3;
    
}

.promo{
    display: flex;
    justify-content: space-evenly
  
}

.modelos{
    width: 100%;
    
   

}
.modelos2{
    width: 100%;
}
.contenedor-grid-hombre{
    display: grid;
    grid-template-areas:
    "foto1 foto2"
    "foto1 foto2"
    "foto1 foto2"; 
    grid-template-columns: 45% 45%;
    grid-template-rows: 1000px 1000px;

}
.card{
    border: solid;
    
}
.gallery-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, min-width 250px, 1fr);
   grid-auto-rows: 250px;
   margin: 40px;
   
    img{
        width: 30%;
        height: 120%;
        object-fit: cover;
        border-radius: 20px;
    }
    
}

.contenedor-hombre{
    display: grid;
   grid-template-columns: repeat(auto-fit, min-width 250px, 1fr);
   grid-auto-rows: 250px;
   margin: 40px;

   img{
        width: 30%;
        height: 120%;
        object-fit: cover;
        border-radius: 20px;
    }
}
.img-mujer {
    background-color: aqua;
}


    




    
   
    


.contenedor-modelos{
    // display: grid;
   grid-template-columns: repeat(auto-fit, min-width 100%, 1fr);
   grid-auto-rows: 450px;
   margin: 40px;

   img{
        width: 100%;
        // height: 200%;
        object-fit: cover;
        border-radius: 20px;

    }
    
}
.container-nino{
    display: grid;
   grid-template-columns: repeat(auto-fit, min-width 250px, 1fr);
   grid-auto-rows: 450px;
   margin: 40px;

   img{
        width: 100%;
        height: 200%;
        object-fit: cover;
        border-radius: 20px;


    }

}


/*footer pie de pagina*/

/*responsive*/
/*mobile*/
@media (max-width:480px){
    /*nuevo*/
    .contenedor-grid{
        grid-template-areas: 
        "titulo"
        "foto1"
        "texto1"
        "foto2"
        "texto2"
        "foto3"
        "texto3";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 200px 150px 200px 150px 200px 150px;
        
        

    
    }
}
.iframe-maps{
    display: block;
    margin-left: 30%;
 
}
.contactate{
    text-align: center;
}
/*pie de pagina*/
.container{
    max-width: 1200px;
    margin: 0px auto;
    
}
.footer{
    background-color: #24262b;
    color: white;
    padding: 30px 0 30px 0;
    // position: fixed;
    width: 100%;
    bottom: 0px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    border-radius: 20px 20px 0 0;

}
.footer-row{
    display: flex;
    flex-direction: row;
}
.footer-links{
    width: 33%;
    // padding: 0 1px;

    h4{
        display: inline-block;
        font-size: 24px;
        color: white;
        margin-bottom: 25px;
        font-weight: 500;
        border-bottom: 1px solid #2061c4;
        padding-bottom: 5px;
    }

    a{
        font-size: 20px;
        padding: 10px;
        font-style: initial;
        font-weight: 500;
        border-radius: 10px;
        text-decoration: none;
        
        svg {
            width: 25px;
        }
    }

    ul {
        padding-left: 0;
    }
}

/*table*/
@media (min-width:481px) and (max-width:769px) {

}
.container-mujer {
     display: grid;
   grid-template-columns: repeat(auto-fit, min-width 550px, 1fr);
   grid-auto-rows: 1250px;
   margin: 40px;
   .img {
     width: 100%;
        height: 200%;
        object-fit: cover;
        border-radius: 20px;
    }
}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>